wxPython
SCons
pyinstaller
configobj
Pillow
openai
azure-cognitiveservices-speech
git+https://github.com/accessibleapps/libloader
git+https://github.com/accessibleapps/platform_utils
git+https://github.com/accessibleapps/accessible_output2
git+https://github.com/accessibleapps/sound_lib
